.contact-form-master {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 90%;
    margin: 5%;
    border: 5px solid var(--bg-0-color);
    border-radius: 22px;
}

.a {
    max-width: 30vw;
    background-color: var(--main-color);
    color: var(--bg-0-color);
    text-align: center;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.b {
    background-color: var(--text-color);
    flex: 1;
    padding: 20px;
    font-size: 22px;
    font-weight: 500;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text1, .text2 {
    background-color: #0003;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    border: none !important;
    outline: none !important;
}


.form {
    gap: 9px;
    color: var(--sub-alt-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.submit {
    background-color: var(--sub-alt-color);
    transition: all 0.3s ease;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    color: var(--text-color);
    width: 100px;
    align-self: flex-end;
    margin-top: 10px;
    padding: 10px 0;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    border: none !important;
    outline: none !important;
}

.submit:hover {
    opacity: 0.8;
}

.text2{
    text-align: left;
}
.submit:focus {
    background-color: #794028;
}

.text1:focus, .text2:focus {
    border: solid #472012 2px;
}

.text1::placeholder, .text2::placeholder {
    color: #000;
}


@media (max-width: 1024px) {
    .contact-form-master {
        flex-direction: column;
        align-items: center;
    }

    .a, .b {
        width: 100%;
        border-radius: 0;
    }

    .a {
        max-width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .b {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .callme h1 {
        font-size: 2em;
    }

    .b {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .a{
        max-width: 100vw;
    }
    .callme h1 {
        font-size: 1.8em;
    }

    .b {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .contact-form-master {
        border: none;
        margin-bottom: 48px;
    }

    .callme {
        padding: 2rem 0;
    }

    .a, .b {
        width: 100%;
        padding: 10px;
        border-radius: 0;
    }

    .a {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .b {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .callme h1 {
        font-size: 1.5em;
    }

    .b {
        font-size: 14px;
    }

    .submit {
        width: 100%;
    }
}

.callme h1 {
    font-size: 2.4rem;
}
.callme {
    font-size: 1.2rem;
}

.b {
    font-size: 18px;
}