/* body{
    background-color: #4B1F0E;
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 100px;
} */
.a{
    width: 30vw;
    background-position: center;
    background-color: #BE7656;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 40px;
    display: flex;
    justify-content: flex-end; 
    position: relative;
    /* margin-left: 200px;
    margin-top: 100px; */
}
.callme{
    color: white;
    text-align: left;
    line-height: 2;
}
.callme h1{
    margin: 0;
    font-size: 3em; 
    font-weight: bold;
}
.callme{
    font-size: 1.2em;
}
.b{
    width: 40vw;
    background-position: center;
    background-color: #EFC3A4;
    /* margin-right: 100px;
    margin-top: 100px; */
    padding: 20px;
    font-size: 22px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.text1{
    background-color: #EFC3A4;
    border: solid white 2px;
    border-radius: 8px;
    padding: 10px;
    width: 400px;
    /* color: ; */
}
.text2{
    background-color: #EFC3A4;
    border: solid white 2px;
    border-radius: 8px;
    padding: 10px;
    width: 400px;
    height: 100px;    
    text-align:left;
}
.form{
    color: #4B1F0E;
}

.contact-form-master{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.submit{
    background-color: #BE7656;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
    color: white;
    margin-right: 75px;
    width: 100px;
    
}
.submit:hover{
    background-color: #794028;

}
.text1:hover{
    border: solid #794028 2px;;
}
.text1:hover::placeholder{
    color: transparent;
}
.text2:hover{
    border: solid #794028 2px;;
}
.text2:hover::placeholder{
    color: transparent
}