.contact-form-master {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    max-width: 100vw;
    width: 90%;
    gap: 0;
    margin: 5%;
    border: #472012 solid;
    border-radius: 22px;
}

.a {
    max-width: 30vw;
    background-color: #BE7656;
    text-align: center;
    flex: 1;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.b {
    background-color: #EFC3A4;
    flex: 1;
    padding: 20px;
    font-size: 22px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text1, .text2 {
    background-color: #EFC3A4;
    border: solid #794028 2px;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.text2 {
    height: 100px;
}

.form {
    gap: 9px;
    color: #4B1F0E;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.submit {
    background-color: #BE7656;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    width: 100px;
    align-self: flex-end;
    margin-top: 10px;
}

.submit:hover {
    background-color: #794028;
}

.text1:hover, .text2:hover {
    border: solid #472012 2px;
}

text2{
    text-align: left;
}

.text1:hover::placeholder, .text2:hover::placeholder {
    color: transparent;
}
.submit:focus {
    background-color: #794028;
}

.text1:focus, .text2:focus {
    border: solid #472012 2px;
    outline-style: none;
}

.text1:focus::placeholder, .text2:focus::placeholder {
    color: transparent;
}

@media (max-width: 1024px) {
    .contact-form-master {
        flex-direction: column;
        align-items: center;
    }

    .a, .b {
        width: 100%;
        border-radius: 0;
    }

    .a {
        max-width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .b {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .callme h1 {
        font-size: 2em;
    }

    .b {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .a{
        max-width: 100vw;
    }
    .callme h1 {
        font-size: 1.8em;
    }

    .b {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .contact-form-master {
        padding: 10px;
    }

    .a, .b {
        width: 100%;
        padding: 10px;
        border-radius: 0;
    }

    .a {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .b {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .callme h1 {
        font-size: 1.5em;
    }

    .b {
        font-size: 14px;
    }

    .submit {
        width: 100%;
    }
}
