@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-0-color: #181824;
    --bg-1-color: #1e1e2e;
    --bg-2-color: #2a2a3b;
    --bg-3-color: #36364d;
    --bg-4-color: #424256;
    --bg-5-color: #4e4e66;
    --caret-color: #f2cdcd;
    --main-color: #cba6f7;
    --sub-color: #7f849c;
    --sub-alt-color: #181825;
    --text-color: #cdd6f4;
    --error-color: #f38ba8;
    --error-extra-color: #eba0ac;
    --colorful-error-color: #f38ba8;
    --colorful-error-color-dark: #5c2f3b;
    --colorful-error-extra-color: #eba0ac;
  }

* {
	margin: 0;
	box-sizing: border-box;
    scroll-behavior: smooth !important;
}


body {
	width: 100%;
	height: 100%;
	font-family: "Jost", sans-serif;
	transition: background-color 0.5s ease;
	margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
    background-color: var(--bg-2-color);
    color: var(--text-color);
}

body .main-content .hero-section {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
	background-color: #1b1b1b; /* Dark background */
    transition: background-color 0.5s ease;
}

body .main-content .hero-section .hero-content {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	position: relative;
	top: 0;
	left: 0;
	transform: rotate(-6deg);
}

body .main-content .hero-section .hero-logo{
/*	font-size: 16rem;*/
	z-index: 3;
	position: absolute;
/*	font-weight: 600;*/
	top: calc(50% - 1px);
/*	color: white;*/
	left: 50%;
	width: 70%;
	max-width: 1000px;
	transform: translate(-50%,-50%) rotate(-0.1deg);
	pointer-events: none;
/*	background: url("../assets/AcentLogo.png");*/
/*	background-repeat: no-repeat;*/
/*	background-size: center center;*/
/*	height: 100vh;*/
/*	width: 100vw;*/
}

body .main-content .hero-section .hero-content .heros{
	height: 62.5%;
	width: 62.5%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
    text-decoration: none;
}

body .main-content .hero-section .hero-content .heros .hero-background {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 0.8s ease;
	background-size: cover;
    pointer-events: none;
	background-repeat: no-repeat;
	background-position: center center;
}

body .main-content .hero-section .hero-content .heros:hover .hero-background {
	opacity: 1;
}

body .main-content .hero-section .hero-content .heros.Intro .hero-background {
	background-image: linear-gradient(#0004, #0004), url("https://images.unsplash.com/photo-1664575262619-b28fef7a40a4?q=80&w=1432&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    /* border: 1px solid transparent */
}

body .main-content .hero-section .hero-content .heros.Projects .hero-background {
	background-image: linear-gradient(#0004, #0004), url("https://images.unsplash.com/photo-1664575197229-3bbebc281874?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    /* border: 1px solid transparent */
}

body .main-content .hero-section .hero-content .heros.About .hero-background {
	background-image: linear-gradient(#0004, #0004), url("https://images.unsplash.com/photo-1551275073-f8adef647c1d?q=80&w=1467&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    /* border: 1px solid transparent */
}

body .main-content .hero-section .hero-content .heros.Contact .hero-background {
	background-image: linear-gradient(#0004, #0004), url("https://images.unsplash.com/photo-1583508915901-b5f84c1dcde1?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    /* border: 1px solid transparent */
}

body .main-content .hero-section .hero-content .heros.Intro{
	background: var(--bg-5-color);
	right: 50%;
	position: absolute;
	bottom: 50%;
	padding: 0 0 5% 10%;
}

body .main-content .hero-section .hero-content .heros.Projects{
	background: var(--bg-3-color);
	left: 50%;
	position: absolute;
	bottom: 50%;
	padding: 5% 10% 0 0;
	z-index: 4;
}

body .main-content .hero-section .hero-content .heros.About{
	background: var(--bg-2-color);
	right: 50%;
	position: absolute;
	top: 50%;
	padding: 0 0 10% 10%;
	z-index: 4;
}

body .main-content .hero-section .hero-content .heros.Contact{
	background: var(--bg-4-color);
	left: 50%;
	position: absolute;
	top: 50%;
	padding: 0 10% 0 0;
}

body .main-content .hero-section .hero-content .heros h1 {
	color: white;
	font-size: 3rem;
	transform: rotate(6deg);
	opacity: 0;
	transition: all 0.8s ease;
	z-index: 2;
	font-weight: 600;
}

body .main-content .hero-section .hero-content .heros:hover h1 {
	opacity: 1;
}
.projects-card {
    display: flex;
    height: 400px;
    width: calc(25% - 20px);
    border-radius: 20px;
    font-size: 40px;
    text-align: center;
    min-width: 250px;
    transition: all 0.5s ease;
    background-size: cover;
    background-color: #0019;
    background-blend-mode: overlay;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}
.projects-card::after {
    counter-increment: section;
    content: counter(section);
    position: absolute;
    font-size: 6rem;
    font-weight: bolder;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,50%);
    pointer-events: none;
    transition: all 0.3s ease;
}
.projects-card:hover::after {
    opacity: 1;
    transform: translate(-50%,0%);
}
#card1{
    background-image: url("../assets/project1.jpg");
}
#card2{
    background-image: url("../assets/project2.jpg");
}
#card3{
    background-image: url("../assets/project3.jpg");
}
#card4{
    background-image: url("../assets/project4.jpg");
}
.p1, .p2, .p3, .p4{
    color: var(--text-color);
    font-family: cursive;
    font-size: 50px;
}

.project-title h2 {
    font-size: 3.2rem;
    font-family: "Jost", sans-serif;
    font-weight: bold;
    color: var(--main-color);
    text-align: center;
    margin: 2rem 0 0 0;
}
.project-title .borderzz {
    width: 320px;
    height: 5px;
    border-radius: 4px;
    background: var(--main-color);
    margin: 0 auto 2.5rem auto;
  }

.projects-section {
    display: flex;
    gap: 20px;
    counter-reset: section;
    padding: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    /* font-size: 80px; */
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    
}
.mtt-section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.projects-card .h {
    font-weight: 600;
}
.projects-card .p {
    font-size: 18px;
    overflow: hidden;
    height: 0;
    padding: 0 10px;
    transition: all 0.5s ease;  
}

.projects-card:hover .p {
    height: 6ch;
}

.project-title{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upper{
    display:inline block;
}
.mtt1{
	max-width: 1200px;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: center;
    align-items: flex-start;
}

.mtt2{
    display : flex;
    flex-direction : column;
    width : 220px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.mtt3{
    text-align: center;
}

.img_at_mtt2{
    height: 150px;
    width: 150px;
    border-radius:500px;
    margin-bottom: 25px;
    transition-duration: 0.3s;
    
}

.font_center{
    text-align: center;
}

.text_deco_mtt{
    font-weight: bolder;
    color: var(--main-color);
    font-size: 15px;
}

.img_at_mtt2:hover{
    transform: scale(1.1);
}

.about-section-main {
    width: 90%; 
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin: 0 auto; 
    flex-wrap: nowrap; 
    border: white solid;
    border-radius: 22px;
}

.about-section-upper {
    width: 40%;
    text-align: left;
    text-align: center;
}

.about-section-upper h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.about-section-lower {
    width: 60vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.about-section-description {
    width: 100%;
}

.about-section-description h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-section-description p {
    font-size: 1.1em;
    line-height: 1.6;
}

#topbar {
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    background-color: var(--bg-0-color); 
    padding: 10px 20px;
    flex-direction: row;
    align-items: center;
    z-index: 99999; 
    justify-content: space-between;
}

#topbar::before {
    content:'';
    opacity: inherit;
    transition: opacity 0.3s ease;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bg-0-color);
    z-index: -1; 
}

#topbar .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100lvh;
    width: 0;
    background: var(--bg-0-color);
    background-image: url("https://raw.githubusercontent.com/orangci/walls-catppuccin-mocha/master/abstract-swirls.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    z-index: -1;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transition: all 0.3s ease;
    overflow: hidden;
}

#topbar.active .main-nav {
    width: 380px;
}

#topbar .hamburger-menu {
    height: 40px;
    width: 30px;
    display: flex;
    flex-direction: column;
    left: 18px;
    top: 6px;
    gap: 8px;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
}

#topbar .hamburger-menu .bar {
    width: 100%;
    display: flex;
    height: 4px;
    background-color: var(--caret-color);
    border-radius: 10px;
    transition: all 0.3s ease;
}

/*#topbar.active .hamburger-menu .bar{
    background-color: #32AD85;
}*/

#topbar.active .hamburger-menu .bar.bar1 {
    transform: rotate(45deg) translate(8px,8px);
}

#topbar.active .hamburger-menu .bar.bar2 {
    opacity: 0;
}

#topbar.active .hamburger-menu .bar.bar3 {
    transform: rotate(-45deg) translate(9px,-9px);
}

#topbar .main-nav .nav-link {
    font-size: 2rem;
    text-decoration: none;
    color: var(--text-color);
    text-shadow: 0px 0px 10px #0006;
    transition: all 0.3s ease;
}

#topbar .main-nav .nav-link:hover {
    color: var(--sub-color);
}

#topbar::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100lvh;
    width: 100%;
    background: #0003;
    backdrop-filter: blur(10px);
    z-index: -5;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
}

#topbar.active::after{
    opacity: 1;
    pointer-events: auto;
}

.search-container {
    display: flex;
    justify-content: left;
    margin-left: 42px;
}

.search-bar {
    width: 300px;
    padding: 8px;
    background-color: #DBB399;
    border-radius: 15px;
    border: none;
    font-size: 16px;
}
.search-bar:hover, .search-bar:focus{
    border-color: #1d1212;
    outline-style: none;
    transition-duration: 0.3s;
}

.search-bar:hover::placeholder, .search-bar:focus::placeholder{
    color: transparent;
}

.auth-buttons {
    gap: 10px;
}

.login-btn, .signup-btn {
    padding: 10px 20px;
    background-color: var(--colorful-error-color);
    border: none;
    color: var(--bg-0-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover, .signup-btn:hover {
    background-color: var(--main-color);
}



@media (max-width: 1024px) {
    .about-section-main {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-section-upper,
    .about-section-lower {
        width: 90%;
    }

    .about-section-upper h1 {
        text-align: center; 
    }

    .about-section-description {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .about-section-upper h1 {
        font-size: 2.5em;
    }
    #topbar{
/*        height: 40px;*/
    }
    .about-section-description h1 {
        font-size: 2em;
    }

    .about-section-description p {
        font-size: 0.95em;
    }
}

@media (max-width: 480px) {
    .about-section-upper h1 {
        font-size: 2em;
    }

    .about-section-description h1 {
        font-size: 1.8em;
    }

    .about-section-description p {
        font-size: 0.9em;
    }
}

footer {
    background-color: var(--bg-0-color);
    padding: 20px;
    text-align: center;
  }
  
  .social-footer {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--bg-5-color);
    color: white;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 17px;  
    justify-content: flex-start;
    text-decoration: none;
  }
  
  .social-btn i {
    font-size: 20px;
  }
  
  .social-btn span {
    /* position: absolute; */
    /* left: 50px; */
    padding: 10px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 14px;
  }
  
  .social-btn:hover {
    width: 120px;
    border-radius: 25px;
    background-color: #007bff; /* Change the background color on hover */
  }
  
  .social-btn:hover span {
    opacity: 1;
  }
  
  .facebook:hover {
    background-color: #3b5998;
  }
  
  .instagram:hover {
    background-color: #e4405f;
  }
  
  .linkedin:hover {
    background-color: #0077b5;
  }
  
  .youtube:hover {
    background-color: #ff0000;
  }
  
  .github:hover {
    background-color: #333;
  }
  