.services-headingzz {
  font-size: 3.2rem;
  font-family: "Jost", sans-serif; 
  font-weight: bold;
  color: var(--main-color);
  text-align: center;
  margin: 2rem 0 0 0;
}

.borderzz {
  width: 200px;
  height: 5px;
  background: var(--main-color);
  margin: 0 auto 2.5rem auto;
  border-radius: 4px;
}

.wrapperzz {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.colszz {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.colzz {
  flex: 0 0 calc(25% - 2rem); 
  box-sizing: border-box;
}

.frontzz {
  position: relative;
  width: 100%;
  height: 280px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
  border-radius: 10px;
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-blend-mode: overlay;
  background-color: #0029;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.frontzz:hover {
  transform: translateY(-10px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.frontzz .innerz p {
  font-size: 1.8rem;
  margin: 0;
  position: relative;
  z-index: 1; 
}


.frontzz .innerzz param {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  padding: 10px;
}