@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-0-color: #181824;
    --bg-1-color: #1e1e2e;
    --bg-2-color: #2a2a3b;
    --bg-3-color: #36364d;
    --bg-4-color: #424256;
    --bg-5-color: #4e4e66;
    --caret-color: #f2cdcd;
    --main-color: #cba6f7;
    --sub-color: #7f849c;
    --sub-alt-color: #181825;
    --text-color: #cdd6f4;
    --error-color: #f38ba8;
    --error-extra-color: #eba0ac;
    --colorful-error-color: #f38ba8;
    --colorful-error-color-dark: #5c2f3b;
    --colorful-error-extra-color: #eba0ac;
  }

body{
    height: 100vh;
    width: 100%;
    margin: 0;
    display:  inline-flex;
    overflow: hidden;
    font-family: jost,sans-serif;
}
.a{
    display: flex;
    height: 100%;
    width: 50%;
    background-color: var(--bg-2-color);
  
}
.b{
    display: flex;
    height: 100%;
    width: 50%;
    background-color: aliceblue;
   
}

.left{
    display: flex;
    margin-top: 10%;
    margin-left: 20%;
    height: 80%;
    width: 80%;
    border-width: 200px;
    background-color:aliceblue;
    /* border: ; */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px ;
    /* border: solid; */
    border: 10px solid var(--bg-0-color);
    border-right: none;
    align-items: center;
    justify-content: center;
}
.right{
    display: flex;
    margin-top: 10%;
    height: 80%;
    width: 80%;
    background-image: url("https://raw.githubusercontent.com/orangci/walls-catppuccin-mocha/master/dragon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--bg-2-color);
    background-size: cover;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px ;
    /* border: solid; */
    border: 10px solid var(--bg-0-color);
    border-left: none;
}
h1{
    color: var(--bg-2-color);
    /* margin-left: 110px;  */
    /* margin-top: 100px; */
    font-size: 40px;
}
label{
    font-weight: 600;
    font-size: 16px;
    color: var(--bg-4-color);
    
}
a {
    color: var(--bg-4-color);
}
#email, #Password{
    width: 350px;
    height: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--sub-color);
    margin-top: 7px;
    outline: none !important;
    transition: all 0.3s ease;
}
#email:focus-visible, #Password:focus-visible, #email:active, #Password:active, #email:focus, #Password:focus {
    border-color: var(--sub-color);
}
#checkbox{
    margin: 0%;
}
#Log{
    width: 370px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: larger;
    color:white;
    background-color: var(--sub-color);
    transition: all 0.3s ease;
    cursor: pointer;
}
#Log:hover{
    background-color: var(--error-color);
}
#continue{
    width: 370px;
    height: 40px;
    margin-bottom: 0px;
    border: 1px solid var(--bg-1-color);
    border-radius: 5px;
    font-size: larger;
    color: var(--bg-1-color);
    cursor: pointer;
}
p{
    text-align: center;
    margin-top: 12px;
    font-weight: 500;
}

@media screen and (max-width: 1100px){
    .b{
        display: none;
    }
    .a {
        width: 100%;
        align-items: center;
    }
    .left {
        margin: 10%;
        height: fit-content;
        border-radius: 15px;
        border-right: 10px solid black;
        min-height: 480px;
        padding: 30px;
    } 
    #email, #Password{
        padding-left: 0;
        padding-right: 0;
    }
    p {
        display: flex;
        flex-direction: column;
    }
    b {
        display: none;
    }
    h1 {
        font-size: 30px;
        text-align: center;
    }
    #email, #Password, #Log, #continue{
        width: 100%;
    }
}