  .testimonials{
    /* background:  #752d2c ; */
    color: var(--sub-alt-color);
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1;
    /* background-color: #752d2c; */
  }
  .testimonial-h1{
    font-size: 3.2rem;
    font-family: "Jost", sans-serif; 
    font-weight: bold;
    color: var(--main-color);
    text-align: center;
    margin: 2rem 0 0 0;
  }
  .testimonials::after {
    /* content: ""; */
    display: table;
    clear: both;
  }
  .innerz{
    max-width: 1200px;
    margin: auto;
    /* overflow: hidden; */
/*    padding: 0 30px;*/
  }
  
  .borderz{
    width: 320px;
    height: 5px;
    border-radius: 4px;
    background: var(--main-color);
    margin: 0 auto 2.5rem auto;
  }
  
  .rowz{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .colz{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  .boxz {
    /* width: 400px;
    height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--sub-alt-color);
    /* padding:20px; */
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
    /* margin: 20px; */
}


.boxz:hover {
    transform: scale(1.08);
}
  .testimonial{
    background:  var(--text-color)  ;
    border-radius: 15px;
    padding: 20px;
    margin: 30px;
  }
  .testimonial img{
    height: 100px;
    clip-path: circle();
    border-radius: 50%;
  }
  .name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
  }
  
  
  
  @media screen and (max-width:960px) {
  .colz{
    flex: 100%;
    max-width: 80%;
  }
  }
  
  @media screen and (max-width: 600px) {
    .colz {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  